/* ********************* similar css styles *************** */

.container{
    width: 90%;
    margin: auto;
    padding: 10px;
}



/* ***************** Navbar  section ***************** */
.Navbar{
    background-color: white; 
}

.mainNavbar{
    font-family: sans-serif;
    max-height: 50px;
    display: flex;
    align-items: center;
    margin: auto;
    font-weight: 600;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Optional: Specify a higher z-index value if needed */
    background-color: #fff;
}

.item{
    padding: 10px;
}

.b{
    background-color: black;
    color: white;
    font-weight: 900;
    margin: 0px 5px;
    padding: 10px;
}


.nav-item2{
    font-size: larger;
    flex-grow: 2;

}
.nav-item2:hover{
    font-size: larger;
    flex-grow: 2;
    
}

.nav-item3{
    display: flex;
    gap: 10px;
    flex-grow: 5;
    justify-content: space-between;
}

a{
    text-decoration: none !important;
    color: black;
}

.mainNavbar .nav-Btn{
    background-color: #fff;
    border: none;
    font-weight: 400; 
}
.second-Navbar .nav-Btn{
    background-color: brown;
    border: none;
    font-weight: 600;
}

.second-Navbar{
    
    
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 600;

}

.second-Navbar-item1{
    font-size: 2rem;
   
}
.second-Navbar-item2{
    display: flex;
    justify-content: space-between;
}

/* ********************* heading section ***************** */



.heading .big-card .card-body{
    width: 30% !important;
}

.heading .card-img-right{
    width: 70% !important;
}

.heading .heading-title{
    margin: 0px;
    padding: 0px !important;
}
.heading .heading-para{
    
    padding: 0px !important;
    font-size: x-small;
}
/* this is  a card section */

.card{
    margin-top: 10px;
    border: none;
}

.card h5{
    font-size: 10px;
}
.card p{
    font-size: 10px;
}

.card-img{
    height: 200px !important;

}


/* ***************************8 sign-up page******************************** */
/* * {
    box-sizing: border-box;
  } */
  
  .signup {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .signup .register-form{
    max-width: 300px;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    position: relative;
    overflow: hidden;
    border: 2px solid #4caf50 !important;
    margin: auto;
  }
  
  .signup h6 {
    text-align: center !important;
    margin-bottom: 20px;
    color: red;
    font-weight: 700;
  }
  
  .signup h6 {
    margin-bottom: 30px;
   
  }
  
  .signup input[type="text"],
  .signup input[type="password"],
  .signup input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .signup button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .signup button:hover {
    background-color: #45a049;
  }
  
